.u-block-c256-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-c256-3 {
  position: absolute;
  left: 0;
}

.u-block-c256-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-group-1 {
  width: 789px;
  min-height: 312px;
  background-image: none;
  height: auto;
  margin: 488px auto 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 47px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 27px 72px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 249px;
    width: 429px;
    margin-top: 131px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-group-1 {
    width: 340px;
    margin-top: 488px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

 .u-section-1-2 {
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-group-1 {
  width: 789px;
  min-height: 312px;
  background-image: none;
  margin: 488px auto 0;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 600;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-group-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-group-1 {
    width: 720px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-group-1 {
    min-height: 249px;
    width: 429px;
    margin-top: 131px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

 .u-section-1-3 {
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-group-1 {
  width: 789px;
  min-height: 312px;
  background-image: none;
  margin: 488px auto 0;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.u-section-1-3 .u-text-2 {
  font-weight: 600;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-group-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-group-1 {
    width: 720px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-group-1 {
    min-height: 249px;
    width: 429px;
    margin-top: 131px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-3 .u-group-1 {
    width: 340px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1563px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  width: 681px;
  text-transform: none;
  font-family: Oswald, sans-serif;
  margin: 110px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 623px;
  font-weight: normal;
  margin: 35px auto 0;
}

.u-section-2 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 23px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 1126px;
  margin-top: 35px;
  margin-bottom: 38px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-2 .u-gallery-1 {
    height: 928px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2279px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1777px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5300px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 4798px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3523px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3021px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 203px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 60px;
  margin-top: -11px;
}.u-block-c084-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-c084-3 {
  position: absolute;
  left: 0;
}

.u-block-c084-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 872px;
}

.u-section-4-1 .u-shape-1 {
  width: 853px;
  height: 585px;
  margin: 0 0 0 auto;
}

.u-section-4-1 .u-layout-wrap-1 {
  width: 1002px;
  margin: -509px auto 60px 48px;
}

.u-section-4-1 .u-image-1 {
  min-height: 650px;
  background-position: 50% 50%;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4-1 .u-layout-cell-2 {
  min-height: 395px;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-4-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Oswald, sans-serif;
  margin: 33px 55px 0 60px;
}

.u-section-4-1 .u-text-2 {
  margin: 20px 55px 0 60px;
}

.u-section-4-1 .u-image-2 {
  width: 630px;
  height: 420px;
  margin: 83px auto -354px -74px;
}

.u-section-4-1 .u-layout-cell-3 {
  min-height: 255px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-4-1 .u-shape-1 {
    width: 810px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 610px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-4-1 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 40px;
    margin-left: 45px;
  }

  .u-section-4-1 .u-text-2 {
    margin-right: 39px;
    margin-left: 45px;
  }

  .u-section-4-1 .u-image-2 {
    width: 470px;
    height: 313px;
    margin-left: 0;
  }

  .u-section-4-1 .u-layout-cell-3 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4-1 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 467px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4-1 .u-image-2 {
    width: 360px;
    height: 240px;
  }

  .u-section-4-1 .u-layout-cell-3 {
    min-height: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-4-1 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 593px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 2.25;
  }

  .u-section-4-1 .u-layout-cell-3 {
    min-height: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-4-1 .u-shape-1 {
    height: 805px;
    margin-top: 98px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -880px;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 441px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4-1 .u-image-2 {
    width: 340px;
    height: 227px;
  }

  .u-section-4-1 .u-layout-cell-3 {
    min-height: 173px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 749px;
}

.u-section-5 .u-text-1 {
  margin: 74px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 21px 197px 0;
}

.u-section-5 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-5 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 802px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 120px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-text-1 {
  margin: 61px auto 0;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -52px 308px 0 auto;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-7 .u-text-2 {
  width: 680px;
  margin: 8px auto 0;
}

.u-section-7 .u-map-1 {
  height: 368px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 32px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 192px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 192px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-text-5 {
  margin: 0;
}

.u-section-7 .u-text-6 {
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 174px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 262px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -58px;
    margin-left: 262px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-right: 168px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -64px;
    margin-left: 168px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 80px;
    margin-left: 168px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -51px;
    margin-right: 130px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 94px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-7 .u-map-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 106px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -48px;
    margin-right: 18px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 18px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-map-1 {
    margin-top: 12px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }
}